* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(/img/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
  gap: 0.5rem;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
}

.form-group {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 60rem;
  height: 100%;
  border-radius: 0.3rem;
  justify-content: space-between;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropdowns {
  display: flex;
  flex-direction: column;
}

.simulator {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.3rem;
  padding: 4rem;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #525252;

}

label {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #525252;
}

.pwms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pwms h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #525252;
}

.pwm-values {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.pwm-values p {
  font-size: 1.6rem;
}

button {
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
  background-color: #dbeafe;
  border: none;
  border-radius: 0.3rem;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #bed6f5;
}

.inputs {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.inputs input {
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #d1d5db;
  border-radius: 0.3rem;
  width: 35%;
  height: 4rem;
}

.ramp-frequency {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.ramp {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.frequency {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ramp-frequency input {
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #d1d5db;
  border-radius: 0.3rem;
  width: 35%;
  height: 4rem;
}


.selection-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

select {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 1px solid #d1d5db;
  border-radius: 0.3rem;
  outline: none;
  background-color: #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

select:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

select option {
  font-size: 1.6rem;
}


/* Editable Section */
.editable {
  display: flex;
  flex-direction: row;
  gap: 2rem; 
  align-items: center;
  margin-top: 1rem; 
}

.radios {
  display: flex;
  flex-direction: row;
  gap: 1.5rem; 
}

.light-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden; 
}

.light1 {
  position: absolute;
  width: 40vw;
  height: 40vh;
  top: -50px;
  left: -50px;
  filter: blur(50px);     
  pointer-events: none;   
}

.light2 {
  position: absolute;
  width: 40vw;
  height: 40vh;
  bottom: -50px;
  left: -50px;
  filter: blur(50px);     
  pointer-events: none;   
}

.light3 {
  position: absolute;
  width: 40vw;
  height: 40vh;
  bottom: 0;
  right: 0;
  filter: blur(50px);     
  pointer-events: none;   
}

.light4 {
  position: absolute;
  width: 40vw;
  height: 40vh;
  top: 0;
  right: 0;
  filter: blur(50px);     
  pointer-events: none;   
}